/**
 * @file workbench-tabs.css
 */

/* Container */
.workbench-tabs {
  background-color: #fff;
}

/* Tabs Container */
.workbench-tabs__tabs {
  position: relative;
  min-height: 33px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px #888 inset;
}

/* Tabs lists */
.workbench-tabs__tabs > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

/* Tabs Lists Items */
.workbench-tabs__tabs > ul > li {
  display: inline-block;
}

/* Primary Tabs default */
.primary-tabs > li > a {
  display: inline-block;
  padding: 10px 25px;
}

/* Primary Tabs hover and focus */
.primary-tabs > li > a:active,
.primary-tabs > li > a:hover,
.primary-tabs > li > a:focus {
  transition: all 0.15s ease-out;
  text-decoration: none;
  color: #0032a0; /* Drupal Link color */
  background-color: #fff;
}

/* Primary Tabs Active */
.primary-tabs > li > a.is-active {
  color: #0c2240; /* Drupal hover color */
  background-color: #fff;
  box-shadow: 2px 2px 2px #888;
}

/* Secondary Tabs List (ul) */
.secondary-tabs {
  display: block;
  border-top: 1px solid #b5b5b5;
  background-color: #ebebeb;
  box-shadow: 0 2px 10px rgba(181, 181, 181, 0.5) inset;
}

/* Secondary Tabs default link */
.secondary-tabs > li > a {
  display: inline-block;
  padding: 5px 15px;
}

/* Secondary Tabs hover */
.secondary-tabs > li > a:active,
.secondary-tabs > li > a:hover,
.secondary-tabs > li > a:focus {
  color: #0032a0; /* Drupal Link color */
  background-color: rgba(181, 181, 181, 0.5);
}

/* Secondary Tabs Active */
.secondary-tabs > li > a.is-active {
  color: #0c2240; /* Drupal hover color */
  background-color: rgba(181, 181, 181, 0.5);
}

/* Messages Container */
.workbench-tabs__message {
  padding: 10px 20px;
}

/* Messages Container, closed */
.workbench-tabs__message.is-closed {
  display: none;
  padding: 10px 20px;
}

/* Zap toolbar link styling within the message area. */
.workbench-tabs.toolbar .workbench-tabs__message a {
  display: inline;
  line-height: inherit;
}

/* Open/Close Messages Trigger */
.workbench-tabs__trigger {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  padding: 8px 25px;
  color: #0032a0;
  border-right: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
}

/* Place "Hide" in for messaging when the drawer is open */
.workbench-tabs__trigger > .show {
  display: none;
}
.workbench-tabs__trigger > .hide {
  display: inline;
}

/* Place "Show" in for messaging when the drawer is closed */
.workbench-tabs__trigger.is-closed > .show {
  display: inline;
}
.workbench-tabs__trigger.is-closed > .hide {
  display: none;
}

/* add in an arrow indicator to the message */
.workbench-tabs__trigger::after {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 10px;
  content: url('../images/icon-arrow.png');
}

/* Rotate the arrow indicator when the drawer is closed */
.workbench-tabs__trigger.is-closed::after {
  top: -.5px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
